@font-face {
  font-family: 'CustomFont';
  src: url('fonts/RobotoMono.ttf') format('truetype')  
}
body{
  font-family: 'CustomFont';
  height: 100em;
  background-color:#364B31;
  width:100%;
  overflow-x: hidden;
}
.main-component{
    display: block;
    margin: 0px auto;
    width: 1280px;
}
a {
  color: inherit; 
  text-decoration: none; 
}
body::before {  
  content: "";
  position: fixed;
  width: 2500px;
  height: 2500px;
  margin-left: 0px;
  margin-top: -650px;
  background-image: url('image/grid.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2; 
  z-index: -1;
  transform: rotate(100deg); 
  animation: rotateBackground 265s linear infinite; 
}
@keyframes rotateBackground {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg);
  }
}
.header-fixed {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  font-family: 'CustomFont';
  background-color: rgba(41,62,0, .50);
  z-index: 9999; /* Ensure it stays on top */
  text-align: center; /* Center the content horizontally */
}
.header-fixed nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-fixed nav ul li {
  display: inline;
}
.header-fixed nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 30px;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1); 
  transition: margin-left 0.3s, margin-right 0.3s, color 0.3s, font-weight 0.3s;
}
.header-fixed nav ul li a:hover { 
  color: #87B87B;
  margin-left: 50px;
  margin-right: 50px;
  font-weight :500;
}
.detail{  
  top: 150px;
  left: 100px;
  position: relative;
  width: 35em;
  height: 300px;
  height: auto;
}
.front-picture{ 
  position: absolute;
  left: 740px;
  top: 15px;
  border: solid aliceblue;
  border-radius: 10px;
  z-index: 2;
  transition: opacity 1s ease-in-out;
}
.detail h3{
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  margin-left: 210px;
}
.detail h2{
  font-size:50px;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  margin-bottom: 0;
  margin-left: 160px; 
}
.detail p{
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: justify;

  font-size: 20px;
  white-space: wrap;
  
  
}
.detail img{
  margin-left: -95px;
  margin-top: -60px;
}
.detail button{
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border: 2px solid #00FFF7; 
  border-radius: 20px; 
  color: aliceblue; 
  padding: 12px 22px; 
  font-size: 16px;
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  cursor: pointer; 
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
  position: absolute;
  left: 200px;
}
.detail button:hover{
  background-color: #00FFF7;
  color: black;
  font-weight: 900px;
}
.portfolio{  
  position: relative;
  top: 25em;
  left: 27em;
  width: 50em;
  height: 10em;
}
.work-picture{ 
  position: absolute;
  margin-left: 20px;
  right: 35em;
  border: solid aliceblue;
  border-radius: 10px;
  width: 600;
  height: 500;
}
.portfolio h2{
  text-align: right;
  bottom: 7em;
  left: 20em;
  font-size:50px;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.portfolio p{
  margin-left:15em;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  text-align: justify;
  font-weight: 500;

  font-size: 20px;
}
.portfolio button{
  position: absolute;
  left: 39em;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border: 2px solid #00FFF7; 
  border-radius: 20px; 
  color: aliceblue; 
  padding: 12px 22px; 
  font-size: 16px;
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  cursor: pointer; 
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}
.portfolio button:hover{
  background-color: #00FFF7;
  color: black;
  font-weight: 900px;
}
.footer{
  color: rgba(255, 255, 255, 1); 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Optional: for centering text within the footer */
  padding: 20px; /* Optional: add padding to the footer */
  text-align: center; 
  font-size: 15px;
  margin-top: 51em;
}


@media only screen and (max-width: 425px) {
  .main-component{
     width: 420px;
  }
  .menu{
    margin-top:3em;
  }
  .menu a{
    font-size: 70px; 
    font-weight: 300;
    margin-left: 25px;
    margin-right:25px;
  }
  .detail{  
    top: 50px; 
    width: 75em;
    height: auto;
  }
  .front-picture{
    visibility: collapse;
  }
  .detail h2{
    font-size: 14em;
    font-weight: 700;
    margin-left: 100px; 
  }
  .detail h3{
    font-size: 5em;
    margin-left: 350px;
  }
  .detail p{
    font-size: 3em;
  }
  #img-size{
    width:  1478px;
    height: 676px;

  }
  .detail img{
    margin-left: -150px;
    margin-top: -70px;
    
  }
  .detail button{
    padding: 22px 27px; 
    font-size: 3em;
    font-weight: 20;
    left: 440px;
    border: 10px solid #00FFF7; 
    border-radius: 50px; 
  }
  .portfolio{  
    top: 25em;
    left: 6em;
    width: 75em;
    height: 10em;
  }
  .portfolio h2{
    bottom: 7em;
    left: 1em;
    font-size:5em;
  }
  .portfolio p{
    margin-left:0em;
    font-size:3em;;
  }
  .portfolio button{
    padding: 22px 27px; 
    font-size: 3em;
    font-weight: 20;
    left: 8em;
    top: 40em;
    border: 10px solid #00FFF7; 
    border-radius: 50px; 
  }
  .work-picture{ 
    top: 55em;
    right: 7em;
    border: 10px solid aliceblue;
    border-radius: 10px;
    width: 960px;
    height: 960px;
  }
  .footer{
    font-size:35px;
    margin-top: 70em;
    width: 40em;
  }
  body::before {  
    width: 3000px;
    height: 3000px;
    margin-left: -25em;
    margin-top: -500px;    
  }
}


